/*top section css code*/
.top-section {
  height: 70vh;
  background-image: url(../images/Fuji.jpg);
  background-position: bottom;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-context {
  margin-left: 50px;
  font-family: 'Dancing Script', cursive;
}

.nav-name {
  margin-top: 5px;
}

.other-links {
  float:right;
}

.nav-button {
  margin-top: 5px;
  margin-right: 20px;
}


#new-blog-content {
  width:100%;
}

#new-blog-title {
  width:100%;
  margin-bottom: 8px;
}

.sButton {
  text-align: center;
}

.submit-button {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
}



/*Body Content*/
.blog-content {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-content {
  padding-top: 50px;
}

/* wave CSS*/
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

/*get rid of the extra 100% width from wave*/
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 20%;
  left:0;
  margin-top: 16vh;
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 20vh;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;

}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;

}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

/*
.top-section-img {
  max-width: 100%;
  max-height: 100%;
}*/
